.paddingall {
    padding: 10px 10px 10px 10px;
}
.pricetitle {
    font-weight: 600;
}

.pricesubtitle {
    font-size: 14px;
} 
.iconstyle {
    margin-top: 20px;
    margin-left: 20px;
} 
.gradient {
    background: rgb(40, 34, 70);
    background: linear-gradient(158deg, rgba(40, 34, 70, 1) 0%, rgba(30, 47, 141, 1) 100%);

}